<h1>About Socialist Alternative DC</h1>
<p>Socialist Alternative, DC Edition! If you are interested in socialism, $15Now! min wage or social justice, we encourage you to sign up!
<br>
Join our <a href="https://groups.google.com/d/forum/socialistalternativedc">Google Group</a> to get all the latest updates!
</p>