<h1>Events</h1>
<% if policy(Event.new).create? %>
<%= link_to "New Event", new_event_path, class: 'btn btn-success' %>
<% end %>
<% @events.each do |event| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
       <%= link_to event.title, event %>
      </h4>
    </div>
  </div>
<% end %>