<h1><%= @event.title %></h1>

<div class="row">
  <div class="col-md-8">
   <p><%= markdown_to_html @event.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@event).edit? %>
      <%= link_to "Edit", edit_event_path(@event), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>